%h2 #{link_to(@metric.host.name, @metric.host)} / #{@metric.name}
#graph{:style => "width: 800px; height: 300px;"}
:javascript
  $(function () {
    var options = {
        lines: { show: true },
        xaxis: { mode: "time" }
    };
    var data = [];
    var placeholder = $("#graph");
    var plot = $.plot(placeholder, data, options);

    // fetch the data with jQuery
    var alreadyFetched = {};
    function fetchData() {
      function onDataReceived(series) {
          $.plot(placeholder, [series], options);
      }
    
      $.ajax({
          url: "#{metric_url(@metric, :format => 'json')}",
          method: 'GET',
          dataType: 'json',
          success: onDataReceived
      });
      setTimeout(fetchData, 10000);
    }
    fetchData();
    
  })